/* Add your custom styles here */
.custom-carousel {
     /* Set the desired width */
    margin: 0 auto;
  }
.carousel-caption {
    top: 0; /* Adjust the position of the caption to be at the top */
    bottom: auto;
    transform: translateY(0%);
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
}
.carousel-caption h3,
.carousel-caption p {
    margin: 10px; /* Add some spacing around the text */
}